.dropdown-menu {
    position: static;
    display: block;
}

.dropdown-menu-macos {
    display: grid;
    gap: 4px;
    border-radius: 8px;
}

.space {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
}

.form-control-dark {
    background-color: rgba(255, 255, 255, .05);
    border-color: rgba(255, 255, 255, .15);
}

.dropdown-item-danger{
    color: #dc3545;
}

.dropdown-item-danger:hover, .dropdown-item-danger:focus {
    color: #fff;
    background-color: #dc3545;
}

.cal__month, .cal__weekdays, .cal__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
}

.cal__month-name {
    grid-column-start: 2;
    grid-column-end: 7;
    text-align: center;
}

.btn-cal, .cal__weekdays-name {
    height: 48px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-cal:focus {
    background-color: rgba(0, 0, 0, .05);
}